# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Dependency lock files (optional, if you're using yarn or pnpm)
yarn.lock
pnpm-lock.yaml
